body {
  background: black;
}

.App {
  max-width: 1300px;
  height: 700px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 24px;
  .todo__input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }
}

.title__block {
  width: 100%;
}

.title {
  box-shadow: 2px 3px 5px #3498db;
  width: 200px;
  height: fit-content;
  margin: 50px auto;
  position: relative;
  right: 40px;
}

.modal__show {
  width: 400px;
  height: 200px;
}

.block__show__tasks {
  display: flex;
  justify-content: center;
}