.btn__click  {
    width: 75px;
    height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    border-color: transparent;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    background-color: rgb(35, 30, 30);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 5px 5px 2px #3498db;
}
.btn__click:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

@media (max-width: 601px) {
    .btn__click {
        margin-top: 10px;
    }
}