* {
    word-break: break-all;
    text-align: center;
}

@mixin space-beetwen {
    display: flex;
    justify-content: space-between;
}

@mixin center {
    display: flex;
    justify-content: center;
}

@mixin white-font {
    color: white;
    font-size: 21px;
}

.block__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.block__todo__input {
    @include center;
    flex-direction: column;
}

.input__block {
    width: 600px;
    margin-top: 10vh;
    @include space-beetwen;
    .input {
        width: 500px;
        height: 38px;
        border-radius: 5px;
        background: grey;
        border: transparent;
        box-shadow: 5px 5px 2px #3498db;
        cursor: pointer;
        outline: none;
        caret-color: #3498db;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 18px;
        color: white;
    }
    @media (max-width: 601px) {
        .input {
            width: 300px;
        }
    }
}
@media (max-width: 601px) {
    .input__block {
        width: 300px;
        @include center;
        flex-direction: column;
    }
}

.input:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}