* {
    word-break: break-all;
    text-align: center;
}

// .btn {
//     width: 50px;
//     height: 40px;
//     border-radius: 5px;
//     border: 1px solid transparent;
//     color: white;
//     font-size: 12px;
// }

@mixin space-beetwen {
    display: flex;
    justify-content: space-between;
}

@mixin center {
    display: flex;
    justify-content: center;
}

@mixin white-font {
    color: white;
    font-size: 21px;
}

.block__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.block__todo__input {
    display: flex;
    flex-direction: column;
}

.input__block {
    width: 600px;
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    .input {
        width: 500px;
        height: 38px;
        border-radius: 5px;
        background: grey;
        border: transparent;
        box-shadow: 5px 5px 2px #3498db;
        cursor: pointer;
        outline: none;
        caret-color: #3498db;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 18px;
        color: white;
    }
}

.input:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}


// .btn__click {
//     width: 75px;
//     margin: 0 auto;
//     margin-top: 10px;
// }

// @media (max-width: 1400px) {
//     .todo__list {
//         width: 40vw;
//         padding: 0;
//         list-style: none;
//         .todo {
//             width: 40vw;
//             @include space-beetwen;
//             align-items: center;
//             flex-wrap: wrap;
//             @include white-font;
//             border: 2px solid white;
//             border-radius: 5px;
//             margin-top: 5px;
//             background: rgb(79, 33, 245);
//             .todo__li {
//                 width: 150px;
//                 @include center;
//                 align-items: center;
//             }
//         }
//     }
// }

.block__btn {
    width: 130px;
    // .btn__add {
    //     background: green;
    //     margin: 5px;
    // }
    // .btn__remove {
    //     background: red;
    //     margin: 5px;
    // }
}

// @media (max-width: 730px) {
//     .todo__list{
//         display: flex;
//         justify-content: flex-start;
//         flex-direction: column;
//     }
//     .todo {
//         display: flex;
//         justify-content: flex-start;
//         align-items: center;
//         .todo__li {
//             display: flex;
//             justify-content: flex-start;
//         }
//     }
// }